<h1>Post: <%= link_to @post.title, fix_url(@post.url) %></h1>
<p class="lead"><%= @post.url %></p>

<h3>Loving notes of encouragement...</h3>

<table class="table">
  <tr>
    <th>Note</th>
    <th>Who said that?</th>
  </tr>

<% @post.comments.each do |comment| %>
  <tr>
    <td><em>"<%= comment.body %>"</em></td>
    <td><%= comment.user.name %></td>
  </tr>
<% end %>
</table>

<br />

<p>Leave a note:
	<%= form_for(Comment.new, url: post_comments_path(@post)) do |f| %>
		<%= f.text_area :body, rows: 7, class: "span6" %>
		<br />
		Who are you?<br />
		<%= f.select( :user_id, User.all.collect { |l| [l.name, l.id] }, :prompt => true ) %>
		<br />
		<%= f.submit "Post-It", class: "btn btn-primary" %>
	<% end %>
</p>
<br />
<p>Wanna be a user?</p><%= link_to "click here", new_user_path, class: "btn" %>
