<h2>Loving notes of encouragement...</h2>

<table class="table">
  <tr>
    <th>Note</th>
    <th>Who said that?</th>
  </tr>

<% @post.comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= comment.user.name %></td>
  </tr>
<% end %>
</table>

<br />

<p>Leave a note:
	<%= form_for(Comment.new, url: post_comments_path(@post)) do |f| %>
		<%= f.text_area :body, rows: 7, class: "span6" %>
		<br />
		Who are you?<br />
		<%= f.select( :user_id, User.all.collect { |l| [l.name, l.id] }, :prompt => true ) %>
		<br />
		<%= f.submit "Post-It", class: "btn btn-primary" %>
	<% end %>
</p>
