<h3><%= post.title %></h3>
<strong><%= post.url %></strong> <span> by: <%= post.user.name %></span><br />
<p><small>comments: <%= post.comments.size %> | <%= link_to "view", post_comments_path(post)  %></small></p>
