<!DOCTYPE html>
<html>
	<head>
	  <title>Postit</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
		<h1><%= link_to((image_tag 'logo.jpg'), root_path) %></h1>
		<%= yield %>

		</div>
	</body>
	<%= javascript_include_tag "application" %>
</html>
